# Gradle
.gradle/
build/
.externalNativeBuild/
.cxx/
local.properties

# IDE
.idea/
*.iml

# Idea subfolders (dla pewności)
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Systemowe
.DS_Store

# Captures (z emulatora)
captures/
